<footer class="footer">
    <div class="footer__container">
        <div class="footer__grid">
            <div class="footer__grid__logo">
                <h2 class="header2">Berelli Immobiliare</h2>
            </div>
            <div class="footer__grid__contact">
                <h3 class="header3 footer__header3">
                    Contattaci
                </h3>
                <h4 class="header4 footer__header4">
                    Contattaci oggi stesso per scoprire tutti i nostri servizi.
                </h4>
                <a href="/contact" class="dotted-link dotted-link-white">Tieniti aggiornato</a>
            </div>
            <div class="footer__grid__news">
                <h3 class="header3 footer__header3">
                    Entra nel fidelity club
                </h3>
                <h4 class="header4 footer__header4">
                    Un'opportunità unica per conoscere per primo tutte le ultime offerte immobiliari.
                </h4>
                <a href="#popup" class="dotted-link dotted-link-white">Iscriviti</a>
            </div>
            <div class="footer__grid__tagline">
                <h2 class="header2 footer__header2">
                   <a href="/">Investi sul tuo futuro</a>
                </h2>
            </div>

            <div class="footer__grid__misc">
                <ul class="footer__nav__list">
                    <li class="footer__nav__item">
                       <a href="#" class="footer__nav__link footer__nav__link-social">
                             <i class="fab fa-facebook-f fa-fw"></i>
                       </a>
                    </li>
                    <li class="footer__nav__item">
                        <a href="#" class="footer__nav__link footer__nav__link-social">
                            <i class="fab fa-twitter fa-fw"></i>      
                        </a>
                    </li>
                    <li class="footer__nav__item">
                        <a href="#" class="footer__nav__link footer__nav__link-social">
                            <i class="fab fa-instagram fa-fw"></i>   
                        </a>
                    </li>
                    <li class="footer__nav__item">
                        <a href="#" class="footer__nav__link footer__nav__link-social">
                            <i class="fab fa-linkedin-in fa-fw"></i>
                        </a>         
                    </li>
                </ul>

                <div class="footer-legal-nav">
                    <div class="footer-legal-nav__copyright">
                      © 2018 Berelli Immobiliare.
                    </div>
                    <div class="footer-legal-nav__links">
                      <ul class="footer__nav__list">
                            <li class="footer__nav__item">
                                <a href="#" title="Privacy" class="footer__nav__link">Privacy</a>
                            </li>
                            <li class="footer__nav__item">
                                <a href="#" title="Termini di utilizzo" class="footer__nav__link">Termini di utilizzo</a>
                            </li>
                        
                        <li class="footer__nav__item">
                          <svg class="footer__nav__link-social" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>equal-housing</title><g id="Page-1" fill="currentColor" fill-rule="evenodd"><g id="equal-housing"><g id="Group" transform="translate(1 3)"><path id="Fill-1" d="M5.73 7.99h6.516V6.74H5.73z"></path><path d="M8.987 0L0 6.048v1.249h1.31v7.342h15.356V7.297h1.31v-1.25L8.986 0zM2.56 5.818l6.428-4.312 6.43 4.319v7.564H2.558V5.818z" id="Fill-2"></path><path id="Fill-3" d="M5.73 10.75h6.516V9.5H5.73z"></path></g></g></g></svg>
                        </li>
                      </ul>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</footer>

<div class="popup" id="popup">
    <div class="popup__container">
        <div class="popup__content">
            <div class="popup__body">
                <div class="popup__grid">
                    <div class="popup__grid__minor">
                        <div class="popup__header">
                            <h2 class="header2">Iscriviti al fidelity club</h2>
                            <h4 class="header4 popup__header4">Assicurati la precedenza su ogni transazione</h4>
                        </div>
                    </div>
                    <div class="popup__grid__maior">
                        <form action="#" class="popup__form">
                            <div class="popup__form__group">
                                <input type="text" class="popup__form__input" id="name" placeholder="Nome" required>
                                <label for="name" class="popup__form__label">Nome</label>
                            </div>
                            <div class="popup__form__group">
                                <input type="text" class="popup__form__input" id="surname" placeholder="Cognome" required>
                                <label for="surname" class="popup__form__label">Cognome</label>
                            </div>
                            <div class="popup__form__group">
                                <input type="email" class="popup__form__input" id="email" placeholder="E-mail" required>
                                <label for="email" class="popup__form__label">E-mail</label>
                            </div>
                            <button type="submit" class="popup__form__submit">Invia</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="popup__close">&times;</a>
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
        function func_close() {
            document.getElementById("bar-chk").checked = false;
        }
        </script>
</body>
</html>
