<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <link rel="stylesheet" href="/style.css">

        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        
        <title>ImmobDemo - Real estate demo site</title>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    </head>
    <body>

        <header class="header">
            <div class="header-bar">
                <div class="bar">
                    <h2 class="header2 bar__logo">Berelli Immobiliare</h2>
                    <div class="bar__menu">
                        <input type="checkbox" id="bar-chk">
                        <label for="bar-chk" class="menu-btn">
                            <div class="menu-btn__text">
                                MENU
                            </div>
                            <div class="menu-dots">
                                <div class="menu-dots__dot"></div>
                                <div class="menu-dots__dot"></div>
                                <div class="menu-dots__dot"></div>
                            </div>
                        </label>

                        <div class="bar__nav">
                            <div class="nav-content">

                                <div class="nav-content__close" onclick="func_close()">
                                    <span>&times;</span>
                                </div>
                                <div class="nav-content__logo">
                                    <a href="/"><h2 class="header2">Berelli Immobiliare</h2></a>
                                    <p>Real estate</p>
                                </div>
                                <div class="nav-content__nav">
                                    <nav role="navigation">
                                        <ul class="primary-nav">
                                            <li class="primary-nav__item"><a href="/developments" class="primary-nav__link">Sviluppo</a></li>
                                            <li class="primary-nav__item"><a href="/team" class="primary-nav__link">Azienda</a></li>
                                            <li class="primary-nav__item"><a href="/news" class="primary-nav__link">News</a></li>
                                            <li class="primary-nav__item"><a href="/contact" class="primary-nav__link">Contatti</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="nav-content__cta">
                                    <p class="nav-content__cta-text">Nuove proprietà ogni giorno, iscriviti per essere in prima fila</p>
                                    <a href="#popup" class="dotted-link">Iscriviti</a>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="bar__scroll">
                        <div class="scroll">
                            <div class="scroll__icon">
                                <svg width="12" height="13" viewBox="0 0 12 13" xmlns="http://www.w3.org/2000/svg"><title>icon-scroll</title><g id="Page-1" fill="none" fill-rule="evenodd"><g id="icon-scroll" stroke-width="1.2" stroke="#221F20"><path id="Stroke-1" d="M1 1l5.028 4.616L11.056 1"></path><path id="Stroke-1-Copy" d="M1 7l5.028 4.616L11.056 7"></path></g></g></svg>
                            </div>
                            <div class="scroll__text">
                                Scroll
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </header>