<% include partials/header %>

<main class="main-container">
    <section class="page__header">
        <a href="/"><h2 class="header2 page__header__header2">Berelli Immobiliare</h2></a>
        <h1 class="header1 page__header__header1">File not found</h1>
        <p class="page__header__text header3">
            Please check URL name
        </p>
    </section>
</main>

<% include partials/footer %>