<% include partials/header %>
<main class="main-container">
            
    <section class="page__header">
        <a href="/"><h2 class="header2 page__header__header2">Berelli Immobiliare</h2></a>
        <h1 class="header1 page__header__header1">Sviluppo</h1>
        <p class="page__header__text header3">
            Dai Navigli a zona Duomo, passando per le nuove costruzioni in Bovisa, Berelli Imm. offre un'ampia gamma di soluzioni immobiliari
        </p>
    </section>

   <section class="developments">
       <div class="developments__header">
            <div class="developments__header__item">
                <h3 class="header3 developments__header3">Progetti in opera</h3>
                <p class="header5 developments__header5">Scopri le innovative soluzioni di rifinitura al piano e nei più piccoli dettagli, scopri tutte le novità delle nuove costruzioni in zona Navigli e Bovisa.</p>
            </div>
       </div>

       <div class="developments__container">
        <a href="#" target="_blank" class="feat__card developments__card">
            <div class="feat__card-img">
                <img srcset="img/back3-small.jpg 1520w, img/back3.jpg 3008w" alt="Developments Image 1"
                sizes="(max-width: 48.75em) 100vw, (min-width: 48.75em) 90vw, 1000px" 
                src="img/back3.jpg">
            </div>
            <div class="feat__card-content">
                <div class="feat__card-content-header">
                    <h2 class="header3">Nuova zona residenziale</h2>
                    <h3 class="header4">Milano Isola / base d'asta € 1.5 M</h3>
                    <p class="feat__card-content-text">
                        IN COSTRUZIONE. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis impedit at quam? Excepturi exercitationem accusantium ad repellendus explicabo at dolore possimus voluptatem expedita blanditiis? Architecto ratione saepe ad molestias possimus!
                    </p>
                </div>
            </div>
        </a>

        <a href="#" target="_blank" class="feat__card developments__card">
            <div class="feat__card-img">
                <img srcset="img/feat2-small.jpg 1400w, img/feat2.jpg 2826w" alt="Developments Image 2"
                sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 50vw, 650px" 
                src="img/feat2.jpg">
            </div>
            <div class="feat__card-content">
                <div class="feat__card-content-header">
                    <h2 class="header3">Nuovo quartiere "Europa 2"</h2>
                    <h3 class="header4">Verona Nord/ lotti da € 600k</h3>
                    <p class="feat__card-content-text">
                        IN COSTRUZIONE. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis impedit at quam? Excepturi exercitationem accusantium ad repellendus explicabo at dolore possimus voluptatem expedita blanditiis? Architecto ratione saepe ad molestias possimus!
                    </p>
                </div>
            </div>
        </a>
        <a href="#" target="_blank" class="feat__card developments__card">
            <div class="feat__card-img">
                <img srcset="img/feat3-small.jpg 1400w, img/feat3.jpg 3000w" alt="Developments Image 3"
                sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 50vw, 650px" 
                src="img/feat3.jpg">
            </div>
            <div class="feat__card-content">
                <div class="feat__card-content-header">
                    <h2 class="header3">Zona residenziale "Il Cigno"</h2>
                    <h3 class="header4">Torino / sold out</h3>
                    <p class="feat__card-content-text">
                        SOLD OUT. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis impedit at quam? Excepturi exercitationem accusantium ad repellendus explicabo at dolore possimus voluptatem expedita blanditiis? Architecto ratione saepe ad molestias possimus!
                    </p>
                </div>
            </div>
        </a>
       </div>
   </section>


   <section class="developments">
    <div class="developments__header">
         <div class="developments__header__item">
             <h3 class="header3 developments__header3">Progetti consegnati</h3>
             <p class="header5 developments__header5">Berelli Immobiliare ha consegnato più di 1.800 case su tutto il territorio metropolitano e nelle zone circostanti. Clicca su un progetto per tutti i dettagli.</p>
         </div>
    </div>

    <div class="developments__container">
     <a href="#" target="_blank" class="feat__card developments__card">
         <div class="feat__card-img">
             <img srcset="img/dev1.jpg 1440w, img/dev1-small.jpg 700w" alt="Progetto completato 1"
             sizes="(max-width: 48.75em) 76vw, (min-width: 48.76em) 42vw, 600px" 
             src="img/dev1.jpg">
         </div>
         <div class="feat__card-content">
             <div class="feat__card-content-header">
                 <h2 class="header3">Residenze Navigli 2000</h2>
                 <h3 class="header4">Milano Navigli / base d'asta € 600k</h3>
                 <p class="feat__card-content-text">
                     COMPLETATO. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis impedit at quam? Excepturi exercitationem accusantium ad repellendus explicabo at dolore possimus voluptatem expedita blanditiis? Architecto ratione saepe ad molestias possimus!
                 </p>
             </div>
         </div>
     </a>

     <a href="#" target="_blank" class="feat__card developments__card">
         <div class="feat__card-img">
             <img srcset="img/dev2-small.jpg 700w, img/dev2.jpg 1440w" alt="Developments Image 2"
             sizes="(max-width: 48.75em) 76vw, (min-width: 48.76em) 42vw, 600px" 
             src="img/dev2.jpg">
         </div>
         <div class="feat__card-content">
             <div class="feat__card-content-header">
                 <h2 class="header3">Case 'golden' - zona Isola</h2>
                 <h3 class="header4">Milano / lotti da € 700k</h3>
                 <p class="feat__card-content-text">
                     SOLD OUT. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis impedit at quam? Excepturi exercitationem accusantium ad repellendus explicabo at dolore possimus voluptatem expedita blanditiis? Architecto ratione saepe ad molestias possimus!
                 </p>
             </div>
         </div>
     </a>
     <a href="#" target="_blank" class="feat__card developments__card">
         <div class="feat__card-img">
             <img srcset="img/dev3-small.jpg 700w, img/dev3.jpg 1440w" alt="Developments Image 3"
             sizes="(max-width: 48.75em) 76vw, (min-width: 48.76em) 42vw, 600px" 
             src="img/dev3.jpg">
         </div>
         <div class="feat__card-content">
             <div class="feat__card-content-header">
                 <h2 class="header3">Quartiere "Fiera Lingotto 88"</h2>
                 <h3 class="header4">Torino / sold out</h3>
                 <p class="feat__card-content-text">
                     SOLD OUT. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis impedit at quam? Excepturi exercitationem accusantium ad repellendus explicabo at dolore possimus voluptatem expedita blanditiis? Architecto ratione saepe ad molestias possimus!
                 </p>
             </div>
         </div>
     </a>
    </div>
</section>

    <section class="info">
        <a href="/news" class="feat__card feat__card-simple">
            <div class="feat__card-img">
                <img srcset="img/news-small.jpg 1440w, img/news.jpg 3000w" alt="News Image"
                    sizes="(max-width: 48.75em) 100vw, (min-width: 48.76em) 87vw, 1000px" 
                    src="img/news.jpg">
            </div>
            <div class="feat__card-content">
                <div class="feat__card-content-header">
                    <h2 class="header3">Berelli News</h2>
                    <h3 class="header4">Le ultime novità ed i trend per il mercato immobiliare</h3>
                </div>
            </div>
        </a>   
    </section>
</main>
<% include partials/footer %>