<% include partials/header %>
<main class="main-container">
            
    <section class="hero">
        <div class="hero__overlay"></div>
        <div class="hero__heading">
            <div class="hero__heading-logo header2">
                Berelli Immobiliare
            </div>
            <div class="hero__heading-cta header1">
                Investi sul tuo futuro
            </div>
        </div>
        <ul class="hero__slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>

    <section class="intro">
        <div class="intro__text">
            <p>Siamo lieti di festeggiare con voi 50 anni di consolidata carriera 
                nell'intermediazione immobiliare
            </p>
        </div>
    </section>

    <section class="features">
        <div class="feat__grid">
            <a href="#" target="_blank" class="feat__card">
                <div class="feat__card-img">
                    <img srcset="img/back3-small.jpg 1520w, img/back3.jpg 3008w" alt="Feature Image 1"
                    sizes="(max-width: 48.75em) 100vw, (min-width: 48.75em) 90vw, 1000px" 
                    src="img/back3.jpg">
                </div>
                <div class="feat__card-content">
                    <div class="feat__card-content-header">
                        <h2 class="header3">Nuova zona residenziale</h2>
                        <h3 class="header4">Milano Isola / base d'asta € 1.5 M</h3>
                        <p class="feat__card-content-text">
                            IN COSTRUZIONE. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis impedit at quam? Excepturi exercitationem accusantium ad repellendus explicabo at dolore possimus voluptatem expedita blanditiis? Architecto ratione saepe ad molestias possimus!
                        </p>
                    </div>
                </div>
            </a>
            <a href="#" target="_blank" class="feat__card">
                <div class="feat__card-img">
                    <img srcset="img/feat2-small.jpg 1400w, img/feat2.jpg 2826w" alt="Feature Image 2"
                    sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 50vw, 650px" 
                    src="img/feat2.jpg">
                </div>
                <div class="feat__card-content">
                    <div class="feat__card-content-header">
                        <h2 class="header3">Nuovo quartiere "Europa 2"</h2>
                        <h3 class="header4">Verona Nord/ lotti da € 600k</h3>
                        <p class="feat__card-content-text">
                            IN COSTRUZIONE. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis impedit at quam? Excepturi exercitationem accusantium ad repellendus explicabo at dolore possimus voluptatem expedita blanditiis? Architecto ratione saepe ad molestias possimus!
                        </p>
                    </div>
                </div>
            </a>
            <a href="#" target="_blank" class="feat__card">
                <div class="feat__card-img">
                    <img srcset="img/feat3-small.jpg 1400w, img/feat3.jpg 3000w" alt="Feature Image 3"
                    sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 50vw, 650px" 
                    src="img/feat3.jpg">
                </div>
                <div class="feat__card-content">
                    <div class="feat__card-content-header">
                        <h2 class="header3">Zona residenziale "Il Cigno"</h2>
                        <h3 class="header4">Torino / sold out</h3>
                        <p class="feat__card-content-text">
                            SOLD OUT. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis impedit at quam? Excepturi exercitationem accusantium ad repellendus explicabo at dolore possimus voluptatem expedita blanditiis? Architecto ratione saepe ad molestias possimus!
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <section class="quotes">
        <div class="quotes__container">
            <div class="carousel" data-flickity='{ "autoPlay": 6000, "prevNextButtons": false, "draggable": false, "pauseAutoPlayOnHover": true }'>
                <div class="carousel-cell">
                    <h3 class="quotes__text header3">
                        E' stato un enorme piacere lavorare con la Berelli Immobiliare, garanzia di serietà e competenza
                    </h3>
                    <p class="quotes__attrib header4">
                        - Michele Radda (Milano Immobiliare s.p.a.)
                    </p>
                </div>
                <div class="carousel-cell">
                    <h3 class="quotes__text header3">
                        Berelli Immobiliare is THE real estate framework in Italy, if you really want to work in this field, you definetely need them!
                    </h3>
                    <p class="quotes__attrib header4">
                        - Tom Rosenfield (Boston Fed. Real Estate Agency)
                    </p>
                </div>
                <div class="carousel-cell">
                    <h3 class="quotes__text header3">
                        50 anni di onorata carriera, di successi e di consolidate realtà: complimenti
                    </h3>
                    <p class="quotes__attrib header4">
                        - Giovanni Malagri (Agenzia Italiana Immobiliare Ass.)
                    </p>
                </div>
                <div class="carousel-cell">
                    <h3 class="quotes__text header3">
                        Professionalità, merce rara di questi tempi. Una scelta obbligata per l'ambito real estate in Italia
                    </h3>
                    <p class="quotes__attrib header4">
                        - Lucio Selli (FederImmobiliare snc)
                    </p>
                </div>
              </div>
        </div>
    </section>

    <section class="info">
        <a href="/developments" class="feat__card feat__card-simple">
            <div class="feat__card-img">
                <img srcset="img/visit-small.jpg 1440w, img/visit.jpg 3000w" alt="Visit Image 1"
                    sizes="(max-width: 48.75em) 100vw, (min-width: 48.76em) 87vw, 1000px" 
                    src="img/visit.jpg">
            </div>
            <div class="feat__card-content">
                <div class="feat__card-content-header">
                    <h2 class="header3">Visita in anteprima i nostri showroom</h2>
                    <h3 class="header4">Prenota un posto in prima fila</h3>
                </div>
            </div>
        </a>   
    </section>
</main>
<% include partials/footer %>