<% include partials/header %>
<main class="main-container">
            
    <section class="page__header">
        <a href="/"><h2 class="header2 page__header__header2">Berelli Immobiliare</h2></a>
        <h1 class="header1 page__header__header1">News</h1>
    </section>

    <section class="news">
        <div class="news__list">
            <div class="news__item">
                <div class="news__item__header">
                    <span class="news__item__header-head">Berelli News</span>
                    <span class="news__item__header-date">4 Marzo 2018</span>
                </div>
                <div class="news__item__content">
                    <a href="#">
                        <h3 class="header3 news__item__content-header">
                            Luciano Berelli si conferma imprenditore dell'anno
                        </h3>
                    </a>

                    <p class="header5 news__item__content-text">
                        Partecipata cerimonia di consegna in Municipio con la presenza delle autorità
                    </p>
                </div>
            </div>
            <div class="news__item">
                <div class="news__item__header">
                    <span class="news__item__header-head">Berelli News</span>
                    <span class="news__item__header-date">26 Febbraio 2018</span>
                </div>
                <div class="news__item__content">
                    <a href="#">
                        <h3 class="header3 news__item__content-header">
                            Berelli Immobiliare è in lizza come Top Level Company
                        </h3>
                    </a>

                    <p class="header5 news__item__content-text">
                        Per il terzo anno consecutivo la Berelli Imm. è selezionata tra le 10 aziende più meritevoli nel panorama immobiliare
                    </p>
                </div>
            </div>
            <div class="news__item">
                <div class="news__item__header">
                    <span class="news__item__header-head">Berelli News</span>
                    <span class="news__item__header-date">22 Febbraio 2018</span>
                </div>
                <div class="news__item__content">
                    <a href="#">
                        <h3 class="header3 news__item__content-header">
                            Berelli Immobiliare infrange il record di vendita del 2012
                        </h3>
                    </a>

                    <p class="header5 news__item__content-text">
                        Le conferme sono avvenute con l'ultimo ragguaglio fiscale che conferma un trend straordinario di enorme prestigio per la società.
                    </p>
                </div>
            </div>
            <div class="news__item">
                <div class="news__item__header">
                    <span class="news__item__header-head">Berelli News</span>
                    <span class="news__item__header-date">13 Febbraio 2018</span>
                </div>
                <div class="news__item__content">
                    <a href="#">
                        <h3 class="header3 news__item__content-header">
                            Intervento del Presidente Berelli in Confindustria a Cernobbio
                        </h3>
                    </a>
    
                    <p class="header5 news__item__content-text">
                        "<i>Ci sono prospettive incoraggianti all'orizzonte, dobbiamo avere solo il coraggio di andare a prenderle</i>..."
                    </p>
                </div>
            </div>
            <div class="news__item">
                <div class="news__item__header">
                    <span class="news__item__header-head">Berelli News</span>
                    <span class="news__item__header-date">6 Febbraio 2018</span>
                </div>
                <div class="news__item__content">
                    <a href="#">
                        <h3 class="header3 news__item__content-header">
                            Berelli Immobiliare a EuroEstate 2018
                        </h3>
                    </a>
        
                    <p class="header5 news__item__content-text">
                       Confermata la presenza dell'azienda presso lo stand Italia ad Oslo
                    </p>
                </div>
            </div>
            <div class="news__item">
                <div class="news__item__header">
                    <span class="news__item__header-head">Berelli News</span>
                    <span class="news__item__header-date">19 Gennaio 2018</span>
                </div>
                <div class="news__item__content">
                    <a href="#">
                        <h3 class="header3 news__item__content-header">
                            Boom di vendite post festivo
                        </h3>
                    </a>
            
                    <p class="header5 news__item__content-text">
                        Dati incoraggianti dal mercato dopo la pausa natalizia
                    </p>
                </div>
            </div>
        </div>

        <div class="news__side">
            <div class="news__item">
                <div class="news__item__content">
                        <h3 class="header3 news__item__content-header">
                            Rapporti con i media
                        </h3>
                    
                    <p class="header5 news__item__content-text">
                        Elena Saluzzi <br> Uff. Marketing
                    </p>
                    <a href="mailto:marketing@berellimm.it?Subject=Richiesta%20informazioni" target="_top" class="dotted-link news__item__content-text">Contatta</a>
                </div>                       
            </div>
        </div>


    </section>

    <section class="info">
        <a href="/contact" class="feat__card feat__card-simple">
            <div class="feat__card-img">
                <img srcset="img/contact-small.jpg 1440w, img/contact.jpg 3000w" alt="Contact Image"
                    sizes="(max-width: 48.75em) 100vw, (min-width: 48.76em) 87vw, 1000px" 
                    src="img/contact.jpg">
            </div>
            <div class="feat__card-content">
                <div class="feat__card-content-header">
                    <h2 class="header3">Contattaci</h2>
                    <h3 class="header4">Il nostro team ti supporterà in ogni esigenza</h3>
                </div>
            </div>
        </a>   
    </section>
</main>
<% include partials/footer %>