<% include partials/header %>
<main class="main-container">
            
    <section class="page__header">
        <a href="/"><h2 class="header2 page__header__header2">Berelli Immobiliare</h2></a>
        <h1 class="header1 page__header__header1">L' azienda</h1>
        <p class="page__header__text header3">
            Berelli Immobiliare apporta i più alti livelli di efficenza industriale ed etica, puntando a costruire durature relazioni con i propri clienti.
        </p>
    </section>

    <section class="employees">
        <div class="employee">
            <div class="employee__img">
                <img src="img/employee1.jpg" alt="Employee n 1">
            </div>
            <div class="employee__details">
                <h5 class="header5 employee__role">Presidente</h5>
                <h3 class="header3 employee__name">Luciano Berelli</h3>
                <a href="mailto:president@berellimm.it?Subject=Richiesta%20informazioni" target="_top" class="dotted-link">Contatta</a>
            </div>
        </div>

        <div class="employee">
            <div class="employee__img">
                <img src="img/employee2.jpg" alt="Employee n 2">
            </div>
            <div class="employee__details">
                <h5 class="header5 employee__role"> Vice Presidente</h5>
                <h3 class="header3 employee__name">Angelo Mircelli</h3>
                <a href="mailto:vicepresident@berellimm.it?Subject=Richiesta%20informazioni" target="_top" class="dotted-link">Contatta</a>
            </div>
        </div>
        <div class="employee">
            <div class="employee__img">
                <img src="img/employee3.jpg" alt="Employee n 3">
            </div>
            <div class="employee__details">
                <h5 class="header5 employee__role">Uff.legale</h5>
                <h3 class="header3 employee__name">Sara Benetti</h3>
                <a href="mailto:legal@berellimm.it?Subject=Richiesta%20informazioni" target="_top" class="dotted-link">Contatta</a>
            </div>
        </div>
        <div class="employee">
            <div class="employee__img">
                <img src="img/employee4.jpg" alt="Employee n 4">
            </div>
            <div class="employee__details">
                <h5 class="header5 employee__role">Uff. Vendite</h5>
                <h3 class="header3 employee__name">Giulia Borrelli</h3>
                <a href="mailto:sales@berellimm.it?Subject=Richiesta%20informazioni" target="_top" class="dotted-link">Contatta</a>
            </div>
        </div>
        <div class="employee">
            <div class="employee__img">
                <img src="img/employee5.jpg" alt="Employee n 5">
            </div>
            <div class="employee__details">
                <h5 class="header5 employee__role">Uff. Marketing</h5>
                <h3 class="header3 employee__name">Elena Saluzzi</h3>
                <a href="mailto:marketing@berellimm.it?Subject=Richiesta%20informazioni" target="_top" class="dotted-link">Contatta</a>
            </div>
        </div>
        <div class="employee">
            <div class="employee__img">
                <img src="img/employee6.jpg" alt="Employee n 6">
            </div>
            <div class="employee__details">
                <h5 class="header5 employee__role">Supervisor venditori</h5>
                <h3 class="header3 employee__name">Lorenzo Ferotti</h3>
                <a href="mailto:realtors@berellimm.it?Subject=Richiesta%20informazioni" target="_top" class="dotted-link">Contatta</a>
            </div>
        </div>
    </section>

    <section class="info">
        <a href="/contact" class="feat__card feat__card-simple">
            <div class="feat__card-img">
                <img srcset="img/contact-small.jpg 1440w, img/contact.jpg 3000w" alt="Contact Image"
                    sizes="(max-width: 48.75em) 100vw, (min-width: 48.76em) 87vw, 1000px" 
                    src="img/contact.jpg">
            </div>
            <div class="feat__card-content">
                <div class="feat__card-content-header">
                    <h2 class="header3">Contattaci</h2>
                    <h3 class="header4">Il nostro team ti supporterà in ogni esigenza</h3>
                </div>
            </div>
        </a>   
    </section>
</main>
<% include partials/footer %>